body {
    background-color: rgb(0, 22, 70);
    font-family: "Arial", "Hiragino Sans", "メイリオ", sans-serif;
}

p {
    font-size: 40px;
    color: rgb(255, 29, 29);
}

table {
    font-size: 20px;
    font-family: "Arial", "Meiryo UI", sans-serif;
    color: rgb(0, 0, 0);
}